---
language: python
python: 
  - "2.7"
  - "3.6"

sudo: false

# Install python-pip
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible
  - pip install ansible-lint
  - pip install ansible-review

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

  # Link github repo to ansible-galaxy name
  - ln -s  $PWD ../while-true-do.{{ role_name }}

# Run the tests
script:
  - tests/test-ansible.sh
  - tests/test-spelling.sh

notifications:
  webhooks:
    urls:
      - https://galaxy.ansible.com/api/v1/notifications/
    on_success: always
    on_failure: never
    on_pull_requests: false
