---
# name: .travis.yml
# description: This file tells travis, what needs to be done.
# author: while-true-do.io
# contact: hello@while-true-do.io
# license: BSD-3-Clause
# reference: https://docs.travis-ci.com/user/customizing-the-build

language: python
sudo: required
# Include supported python versions
python:
  - "2.7"
  - "3.5"
  - "3.6"
services:
  - docker

# env:
#
# before_install:
#
install:
  - pip install ansible molecule[docker]
#
# before_script:
# Most likely, you want to put conf actions here
#
script:
  - molecule test
#
# after_success:
#
# after_failure:
#
# before_deploy:
#
# deploy:
#
# after_deploy:
#
# after_script:
#

notifications:
  email:
    recipients:
      - devel@while-true-do.io
    on_success: never
    on_failure: always

  irc:
    channels:
      - "chat.freenode.net#while-true-do"
    on_success: always
    on_failure: always

  webhooks:
    urls:
      - https://galaxy.ansible.com/api/v1/notifications/
    on_success: always
    on_failure: always
    on_pull_requests: false
