# name: kudos.txt
# description: This file shows the named contributors.
# author: while-true-do.io
# contact: hello@while-true-do.io
# license: BSD-3-Clause
# reference: https://github.com/kudos-txt

project:
  - name: while-true-do.io
    site: https://while-true-do.io
    mail: hello@while-true-do.io

# TODO: Fill in the below content and remove this line.
contributors:
  - name: <name of the contributor>
    code: <special code contribution>
    home: <city>, <country>
    mail: <mail address>
    role: <role of the contributor>
    site: <url>
    work: <workplace>, <company>

partners:
  - name: kudos.txt
    site: https://kudos-txt.io

  - name: <name of the partner>
    site: <url>

software:
  - name: <name of the software>
    site: <url>
