<!--
name: README.md
description: This file contains important information for the repository.
author: while-true-do.io
contact: hello@while-true-do.io
license: BSD-3-Clause
-->

<!-- github shields -->
![Github (tag)](https://img.shields.io/github/tag/while-true-do/ansible-role-{{ role_name }}.svg)
![Github (license)](https://img.shields.io/github/license/while-true-do/ansible-role-{{ role_name }}.svg)
![Github (issues)](https://img.shields.io/github/issues/while-true-do/ansible-role-{{ role_name }}.svg)
![Github (pull requests)](https://img.shields.io/github/issues-pr/while-true-do/ansible-role-{{ role_name }}.svg)
<!-- travis shields -->
![Travis (com)](https://img.shields.io/travis/com/while-true-do/ansible-role-{{ role_name }}.svg)
<!-- ansible shields -->
![Ansible (min. version)](https://img.shields.io/badge/dynamic/yaml.svg?label=Min.%20Ansible%20Version&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2Fansible-role-{{ role_name }}%2Fmaster%2Fmeta%2Fmain.yml&query=%24.galaxy_info.min_ansible_version&colorB=black)
![Ansible (platforms)](https://img.shields.io/badge/dynamic/yaml.svg?label=Supported%20OS&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2Fansible-role-{{ role_name }}%2Fmaster%2Fmeta%2Fmain.yml&query=galaxy_info.platforms%5B*%5D.name&colorB=black)
![Ansible (tags)](https://img.shields.io/badge/dynamic/yaml.svg?label=Galaxy%20Tags&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2Fansible-role-{{ role_name }}%2Fmaster%2Fmeta%2Fmain.yml&query=%24.galaxy_info.galaxy_tags%5B*%5D&colorB=black)

# Ansible Role: {{ role_name }}

<!-- TODO: Short Description: One sentence to describe the repository. -->

## Motivation

<!-- TODO: Describe your motivation for this repository.

-   What is the intention for this repository?
-   Who may be interested?
-   Which problem should be solved?
-->

## Description

<!-- TODO: Describe the repository in some more details.

-   Which features does it provide?
-   Why is it awesome or cool?
-->

## Requirements

<!-- TODO: Describe the requirements before installing.

-   What is needed?
-   What are prerequisites, dependencies or requirements?
-   Is something needed before one can install?
-->

<!-- TODO: List all used Ansible modules and remove this line. -->

Used Modules:

-   [module1](link)
-   [module2](link)

## Installation

<!-- TODO: Describe the Installation process.

-   How do you install the software/tool?
-   Is there a package, container or some other resources?
-   Are special commands needed to build/install/run?
-->

Install from [Github](https://github.com/while-true-do/ansible-role-{{ role_name }})
```
git clone https://github.com/while-true-do/ansible-role-{{ role_name }}.git while_true_do.{{ role_name }}
```

Install from [Ansible Galaxy](https://galaxy.ansible.com/while_true_do/{{ role_name }})]
```
ansible-galaxy install while_true_do.{{ role_name }}
```

## Usage

<!-- TODO: Describe how one can use the repository or it's software.

-   Is there a help or manual?
-   How do you call the software?
-   Is there something to configure?
 -->

### Role Variables

<!-- TODO: Provide Variables, describe them and renove this line. -->
```
---
# defaults file for while_true_do.{{ role_name }}

```

### Example Playbook

Running Ansible
[Roles](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html)
can be done in a
[playbook](https://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html).

#### Simple

```
---
- hosts: all
  roles:
    - role: while_true_do.{{ role_name }}
```

<!-- TODO: Provide advanced example or remove it.
#### Advanced

```
- hosts: all
  roles:
    - role: while_true_do.{{ role_name }}
      variable_1: foo
      variable_2: bar
```
-->

## Testing

Most of the "generic" tests are located in the
[Test Library](https://github.com/while-true-do/test-library).
<!-- TODO: Move the molecule.yml to molecule/default/molecule.yml and remove
this comment. -->
Ansible specific testing is done with
[Molecule](https://molecule.readthedocs.io/en/stable/).
<!-- TODO: Provide tests in molecule/default/tests/test_default.py and remove
this comment. -->
Infrastructure testing is done with
[testinfra](https://testinfra.readthedocs.io/en/stable/).
<!-- TODO: Provide tests in .travis-yml and remove this comment. -->
Automated testing is done with [Travis CI](https://travis-ci.com).

## Contribute

Thank you so much for considering to contribute. We are very happy, when somebody
is joining the hard work. Please fell free to open
[Bugs, Feature Requests](https://github.com/while-true-do/ansible-role-{{ role_name }}/issues)
or [Pull Requests](https://github.com/while-true-do/ansible-role-{{ role_name }}/pulls) after
reading the [Contribution Guideline](https://github.com/while-true-do/doc-library/blob/master/docs/CONTRIBUTING.md).
<!-- TODO: Edit kudos.txt and remove this comment. -->
See who has contributed already in the [kudos.txt](./kudos.txt).

## License

This work is licensed under a [BSD-3-Clause License](https://opensource.org/licenses/BSD-3-Clause).

## Contact

-   Site <https://while-true-do.io>
-   Twitter <https://twitter.com/wtd_news>
-   Code <https://github.com/while-true-do>
-   Mail [hello@while-true-do.io](mailto:hello@while-true-do.io)
-   IRC [freenode, #while-true-do](https://webchat.freenode.net/?channels=while-true-do)
-   Telegram <https://t.me/while_true_do>
