---
galaxy_info:
  role_name: {{ role_name }}
  author: while-true-do.io
  # TODO: Fill in a description and remove this line.
  description: Description
  license: BSD

  min_ansible_version: 2.7

  # Supported platforms: https://galaxy.ansible.com/api/v1/platforms/
  # Please tune the testing properly, when adding/removing a platform.
  # (molecule/molecule.yml)
  platforms:
    - name: EL
      versions:
        - 7

    - name: Fedora
      versions:
        - 29

  # TODO: Fill in proper tags and remove this line.
  galaxy_tags: []

dependencies: []
