---
# meta file for while_true_do.{{ role_name }}
galaxy_info:
  role_name: {{ role_name }}
  author: while-true-do.io
  # TODO: Fill in a description and remove this line.
  description: Description
  license: BSD

  min_ansible_version: 2.7

  # Supported platforms: https://galaxy.ansible.com/api/v1/platforms/
  # Please also maintain
  # - molecule/default/molecule.yml
  # - molecule/default/tests/test_default.py
  platforms:
    - name: EL
      versions:
        - 7

    - name: Fedora
      versions:
        - 29

  # TODO: Fill in proper tags and remove this line.
  # Some very common tags are:
  # system, virtualization, development, monitoring, packaging, container
  # configuration, cloud, security
  galaxy_tags: []

dependencies: []
